<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Your post</h1>
    <p>Post id :<%= post.id %></p>
    <p>Post username :<%= post.username %></p>
    <form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
      <textarea rows="10" cols="35" name="content"><%=post.content%></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
