<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Quora Post</h1>
    <% for(post of posts) {%>
    <div class="post">
      <h3 class="user">@ <%= post.username %></h3>
      <h4 class="content"><%= post.content %></h4>
      <br />
      <button>
        <a href="http://localhost:8080/posts/<%= post.id%>">See in detail</a>
      </button>
      <button>
        <a href="http://localhost:8080/posts/<%= post.id%>/edit">Edit</a>
      </button>
    </div>
    <% }%>
    <br />
    <button>
      <a href="http://localhost:8080/posts/new">create new post</a>
    </button>
  </body>
</html>
