<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
  </head>
  <body>
    <form action="/posts" method="post">
      <input placeholder="Enter username" name="username" /><br /><br />
      <textarea placeholder="write a post" name="content"></textarea>
      <br /><br />
      <button>Submit Post</button>
    </form>
  </body>
</html>
