<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is a home page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, eaque, ducimus rem beatae, ut voluptatem quia earum vitae repudiandae a in? Quos eum vel rerum! Officiis iusto a quod at?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ab, beatae accusantium distinctio eius, enim excepturi quidem fugit debitis nemo facere ut quas expedita facilis nulla, reprehenderit voluptatem? Praesentium, neque!
    Fugit quaerat laborum tempora voluptatum molestiae, quasi assumenda sapiente odio possimus in ullam deleniti repellat ab? Suscipit dicta illo recusandae accusantium. Perspiciatis beatae asperiores debitis ut ea corrupti qui dolores.
    Possimus explicabo voluptatum repudiandae sed nesciunt deleniti eos, molestiae dolorem cumque veniam eum tenetur quod perferendis officia tempora, praesentium, tempore soluta vel. Illo nisi quidem eveniet fugit quae porro modi!</p>
    <button>click me !! </button>
</body>
</html>