<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>insta</title>
  </head>
  <body>
    <h2>this is an page of :@<%= username %></h2>
    <button>Follow</button>
    <button>Message</button>
   
    <!--Use of conditional statements in EJS-->
    
    <h2>Accounts you follow on instagram :</h2>
    <ul>
        <% for(let name of followers) {%>
            <li><%=name%></li>
            <% } %>
    </ul>
   
  </body>
</html>
