<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit user form</title>
  </head>
  <body>
    <h2>You are about to edit this user : <%= user.email %></h2>
    <form method="POST" action="/user/<%=user.id%>?_method=PATCH">
      <textarea name="username"><%=user.username%></textarea>
      <input
        type="password"
        name="paswword"
        placeholder="Enter your password"
      />
      <button>Edit</button>
    </form>
  </body>
</html>
